:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;
  color: rgba(0, 0, 0, 0.87);
  /* background-color: #242424; */

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

a {
  font-weight: 500;
  color: #000;
  text-decoration: inherit;
}
a:hover {
  color: #c5c5c5;
}

body {
  margin: 0px;
  display: flex;
  place-items: center;
  min-width: 320px;
  min-height: 100vh;
  background-color: #fff;
}

h1 {
  font-size: 3.2em;
  line-height: 1.1;
  align-items: center;
}

ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  display:inline;
}

li {
  display: inline;
  padding: 1rem;
}

img {
  border-radius: 15px 15px 0px 0px;
  height: auto;
  max-width: 100%;
  vertical-align: middle;
  min-width: 250px;
  
}

.hero-content { 
  display: flex; 
  flex-direction: row; 
  flex-wrap: wrap;
  align-items:center;
  justify-content: space-between; 
} 

.hero-text { 
  flex: 1;
} 

.hero{
  background-image: url("https://img.freepik.com/free-photo/vivid-blurred-colorful-background_58702-2655.jpg?size=626&ext=jpg&ga=GA1.1.2116175301.1717372800&semt=ais_user");
  object-fit: cover;
  background-size: cover;
  background-position: center;
  /* border-radius: 15px; */
  height: 100%;
  width: auto;
}

.hero-image { 
  flex: 1;
  /* border-radius: 15px; */
  padding-left: 10px;
} 


#app {
  max-width: 1280px;
  margin: 0 auto;
  padding: 1rem;
  text-align: center;
}

.navbar{
  display:inline;
  padding:1rem;
  background-color: #fff;
  border-radius: 10px;
  z-index: 10000;
  position: sticky;
  top: 10px;
  width: auto;
}

/* @media screen and (min-width: 800px) {
  .navbar {
    display: inline;
  }
} */

.hero{
  background-color: #fff;
  padding:5rem;
  border-radius: 15px 15px 0px 0px;
}

.abtimg{
  flex: 1;
  /* border-radius: 25px; */
  padding: 10px;
  width: auto;
  height: auto;
  object-fit: cover;
  /* max-width: 750px; */
  
}

.about{
  background-color: #fff;
  padding:5rem;
  /* border-radius: 15px; */
  background-image: url("https://media.istockphoto.com/id/539199982/photo/blur-dark-bar-or-cafe-at-night.jpg?s=612x612&w=0&k=20&c=W_MlPP3u4OHCDbYy5MZLym4qlQRU-wRFSUddc-GfMDs=");
  object-fit: cover;
  background-size: cover;
  background-position: center;
  height: 100%;
  color: #fff;
  font-weight: 700;
  font-size: larger;
}

.menu{
  background-image: url("https://img.freepik.com/premium-photo/restaurant-cafe-coffee-shop-interior-with-people-abstract-blur-background_293060-17461.jpg?size=626&ext=jpg&ga=GA1.1.2082370165.1717113600&semt=ais_user");
  padding:5rem;
  object-fit: cover;
  background-size: cover;
  background-position: center;

  /* border-radius: 15px; */
  width:auto;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
  color:white;
  /* border-radius: 15px; */
}

.card {
  /* Add shadows to create the "card" effect */
  box-shadow: 0 2px 4px 0 rgba(0,0,0,0.1);
  transition: 0.3s;
  background-color: #00000090;
  border-radius: 15px; /* 5px rounded corners */
  display: inline-grid;
  margin-left: 10px;
  margin-top: 10px;
}

/* On mouse-over, add a deeper shadow */
.card:hover {
  box-shadow: 0 8px 16px 0 rgba(0,0,0,0.1);
}

/* Add some padding inside the card container */
.container {
  flex: 1;
}

.contact{
  background-image: url('https://img.freepik.com/premium-vector/abstract-blurred-background-gradient-blue-background-vector_566661-16566.jpg');
  padding:3rem;
  border-radius: 0px 0px 15px 15px;
  object-fit: cover;
  background-size: cover;
  background-position: center;
  height: 100%;
  font-weight: 500;
  font-size: larger;
}
.space{
  padding: 7px;
}

.menu-content{
  align-items:center;
  justify-content: space-evenly;
} 


@media (prefers-color-scheme: light) {
  :root {
    color: #213547;
    background-color: #ffffff;
  }
  a:hover {
    color: #747bff;
  }
  button {
    background-color: #fff;
  }
}
/*  */

* {
  box-sizing: border-box;
}

.nav {
  height: 50px;
  width: auto;
  background-color: #fff;
  border-width: 3px;
  border-color: #f1f1f1;
  top: 5px;
  z-index: 10000;
  border-radius: 10px;
  position: relative;

  width: auto;
  text-align:center;
  border-bottom: 5px solid;
  border-image:   linear-gradient(to right, cyan 15%, yellow 25%, yellow 25%, red 50%,red 50%, rgb(130, 180, 255) 75%, rgb(97, 255, 97) 95%) 60 60 1;

  
}

.nav > .nav-header {
  display: inline;
}

.nav > .nav-header > .nav-title {
  display: inline-block;
  font-size: 20px;
  color: #fff;
  padding: 10px 10px 10px 10px;
}

.nav > .nav-btn {
  display: none;
}

.nav > .nav-links {
  display: inline;
  float: center;
  font-size: 18px;
}

.nav > .nav-links > a {
  display: inline-block;
  padding: 13px 10px 13px 10px;
  text-decoration: none;
  color: #000;
}

.nav > .nav-links > a:hover {
  /* background-color: rgba(0, 0, 0, 0.3); */
  
}

.nav > #nav-check {
  display: none;
}

@media (max-width:600px) {
  .nav > .nav-btn {
    display: inline-block;
    position: absolute;
    right: 0px;
    top: 0px;
  }
  .nav > .nav-btn > label {
    display: inline-block;
    width: 50px;
    height: 50px;
    padding: 13px;
  }
  .nav > .nav-btn > label:hover,.nav  #nav-check:checked ~ .nav-btn > label {
    background-color: rgba(0, 0, 0, 0.3);
  }
  .nav > .nav-btn > label > span {
    display: block;
    width: 25px;
    height: 10px;
    border-top: 2px solid #000;
  }
  .nav > .nav-links {
    position: absolute;
    display: block;
    width: 100%;
    margin-top: 5px;
    border-radius: 15px;
    background-color: #f1f1f1;
    height: 0px;
    transition: all 0.3s ease-in;
    overflow-y: hidden;
    top: 50px;
    left: 0px;
  }
  .nav > .nav-links > a {
    display: block;
    width: 100%;
  }
  .nav > #nav-check:not(:checked) ~ .nav-links {
    height: 0px;
  }
  .nav > #nav-check:checked ~ .nav-links {
    height: calc(280px);
    overflow-y: auto;
  }
}
